.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

.txt-input {
  box-sizing: border-box;
  height: 3rem;
  width: 300px;
  padding: 1rem;
  margin: auto;
}

.emoji-logo {
  max-width: 400px;
  max-height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

header {
  background-color: green;
  padding: 0.2rem;
  margin-bottom: 6rem;
}

span {
  padding: 0.5rem;
}
